body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;

    font-size: medium;
}
.footer {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #000;
    color: #f8f8f8;
}


.link {
    color: #f8f8f8;
}

.top50 {
    padding-top: 50px;
}